<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/jQuery.UI.css" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="/style.css"/>
   
    
		<title>Cricdesi - Desi Cricket Commentary, Results, News, Player Rankings, Info, Schedule, Videos and Much More</title>
		<link rel = "icon" href ="/mysc.png" 
        type = "image/x-icon"> 

		<style>
			
			
					.players
			{
				border-radius:30px;
			}
			.card
			{
				border-radius:30px;
			}
			  .dropdown-submenu {
				position:relative; } .dropdown-submenu>.dropdown-menu {
				top:0;
				left:100%;
				margin-top:-6px;
				margin-left:-1px;
				-webkit-border-radius:0 6px 6px 6px;
				-moz-border-radius:0 6px 6px 6px;
				border-radius:0 6px 6px 6px; } .dropdown-submenu:hover>.dropdown-menu {
				display:block; } .dropdown-submenu>a:after {
				display:block;
				content:" ";
				float:right;
				width:0;
				height:0;
				border-color:transparent;
				border-style:solid;
				border-width:5px 0 5px 5px;
				border-left-color:#333333;
				margin-top:5px;
				margin-right:-10px; } .dropdown-submenu:hover>a:after {
				border-left-color: #999999; } .dropdown-submenu.pull-left {
				float:none; } .dropdown-submenu.pull-left>.dropdown-menu {
				left:-100%;
				margin-left:10px;
				-webkit-border-radius:6px 0 6px 6px;
				-moz-border-radius:6px 0 6px 6px;
				border-radius:6px 0 6px 6px; }
			
			.box{
			    border-right: 2px solid #85D8CE;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				}
			.box5{
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				margin-top: 10px;
			}
			.box3{
				/* border-left: 2px solid #85D8CE; */
				border-top: 2px solid rgba(133,216,206);
				border-bottom: 2px solid rgba(133,216,206);
				padding-bottom: 10px;
				margin-top: 25px;
			}
			
			.box1{
				border-left: 2px solid #85D8CE;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				padding-bottom: 2px;
			}
			.box2{
				border-left: 2px solid #85D8CE;
				border-top: 2px solid #85D8CE;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				padding-bottom: 30px;
				margin-top: 10%;
				margin-bottom: 5%;
			}
			.box4{
				border-left: 2px solid #85D8CE;
				border-right: 2px solid #85D8CE;
				box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
				margin: 10px 0px 100px 5px;
			}
			.first-one{
				padding-top: 10px;
			}
			.heading{
				color:#085078;
				text-shadow: 2px 2px 5px rgba(0,0,0.5);
				text-align:center;
				padding-top: 8px;
				padding-bottom: 5px;
				}
			
			
			
			.card{
				margin-bottom: 10px;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			}
			a{
				text-decoration:none
			}
			* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none
	;
}

/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #3272f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

		.active:hover, .dropdown-item:hover{
				background-color: #85D8CE;
			} 
		.active1, .dot:hover {
	            background-color: #494B55;
            }
			.im{
				height:250px;
			}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.main {
  font-weight:700;
  display: block;
  position: relative;
	

}
			
.main::after {
  content: "";
  background: url('https://blog.fanfight.com/wp-content/uploads/2019/04/MI-vs-RR.png');
	background-position:center;
	background-size:cover;
  opacity: 0.1;
		border-radius:20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
			.logo{
				height:70px;
			}
			
			
			@media only screen and (max-width: 600px) {
				.logo{
					height:55px;
				}
				.name{
					margin-right:35px;
				}
			}
		
</style>
		
		
					<link rel="stylesheet" src ="/css/stylesheet.css">
		<link href="/css/bootstrap.min.css" rel="stylesheet" >
		<script src="/css/jquery.js" ></script>
		<script src="/css/bootstrap.min.js" defer ></script>
		<script src="/css/font-awesome.js" defer></script>
         <link rel="stylesheet" href="/css/font-awesome.css">
 
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	

  	 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ilx8lsl.css">
		<style>body{font-family:"merriweather"}</style>
    </head>
	<body >
		<style>* {
   box-sizing: border-box;
}</style>
		
		<nav  id='mynav'class="navbar navbar-expand-lg navbar-dark mb-3 " style="background: #085078;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
			<div class="container">
				<a class="navbar-link" href="/"><img src = "/mysc.png" style="border-radius:50px;"  class="logo"></a>&nbsp; <a href="/" style="text-decoration:none"><span class="name" style=" font-size:35px; font-family:chewy;color:white">cricdesi</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  
		  &nbsp;&nbsp;
		  
		<li class="nav-item ms-lg-5">
          <a class="nav-link active" aria-current="page" id="1" href="/featured">Featured</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" id="2"href="/live">Live</a>
        </li>
		  
        <li class="nav-item">
          <a class="nav-link active"id="3" href="/schedule">Schedule</a>
        </li>
		<li class="nav-item ">
          <a class="nav-link active" id="4" href="/news">News</a>
        </li>
		  <li class="nav-item  dropdown">
				<a class="  nav-link active" href="#" id="5" role="button" data-bs-toggle="dropdown" aria-expanded="false">Info <i class="fas fa-caret-down"></i></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="navdropdown" style="background: #085078;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
					
					<!-- <li class="nav-link dropdown dropdown-submenu">
						<a class="nav-link active" style="color:black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rankings</a> -->
						<!-- <ul class="dropdown-menu" role="menu" style="background: #085078;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
							<li><a class="dropdown-item" href="#">Test Rankings</a></li>
							<li><a class="dropdown-item" href="#">ODI Rankings</a></li>
							<li><a class="dropdown-item" href="#">T20 Rankings</a></li>
						</ul> -->
					<!-- </li> -->
					<li><a class="dropdown-item" href="/ranking">Rankings</a></li>
					<li><a class="dropdown-item" href="/players">Player Details</a></li>
				</ul>
		</li>
		<li class="nav-item">
          <a class="nav-link active" id="mem"href="/memes">Memes</a>
        </li>
		<li class="nav-item">
				<a class="  nav-link active" id='vid' href="/videos">Videos 
</a>
				
		</li>
        </ul>
      <form class="d-flex mt-2" action ="/players/search" method='GET'>
		  
		  
        <input class="form-control me-2 " name = "name"type="search" placeholder="Search for players" aria-label="Search">
       <button type="submit">
		 <i class="fas fa-search"></i>
		  </button></form>
      </div>
    </div>
			
</nav>
		<div class ="container">
			<%if(error&&error.length>0){%><div class="alert alert-danger alert-dismissible text-center" role="alert">
		
<%=error%>	<button type="button" class="close "  style="float:right;background:none;border:none;"data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button></div>

			
			<%}%></div>
		<style>	.featured{
		color:black
			}</style>