<%- include("header.ejs")%>		<h1 align ="center" style="font-family: 'Satisfy', cursive;" >
			The one stop hub for all your cricket fetish!
		</h1>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="container box">
						<h3 class="heading">What's Hot!!</h3>
						<a href="#"><p class="first-one">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .
							</p></a>
						<hr>
						<a href="#"><p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .
							</p></a>
						<hr>
						<a href="#"><p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .
							</p></a>
						<hr>
						<a href="#"><p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .
							</p></a>
						<hr>
						<a href="#"><p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .
							</p></a>
						<hr>
					</div>
				</div>
				<div class ="  col-sm-6">
					<div class ="main container pt-5 " style="height:360px">
						<div class="row pt-4">
							<div class="col-4">
								<img  style ="height:60px; width:60px; border-radius:10px;"src = "https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"><span class="team"> India</span> <br><br>
								<ul class="mt-2 text-start">
									<li>Virat Kohli(c)</li>
									<li>Ajinkya Rahane</li>
									<li>Jasprit Bumrah</li>
									
								</ul>
							</div>
							<div class ="col-4 mt-2 text-center">
								<span class="team">Vs</span>
								<br><br>
								<a href ="#" style="font-size:1.2rem;">Live</a>
								<br>
								<span class="ml-3">Eng - 555/8</span>
								<br>
								
								<span class="ml-3" style="color:red;">Day 2: Stumps</span>
							</div>
							<div class="col-4 text-end">
								<span class="team">England</span> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png" style ="height:60px;width:60px;border-radius:10px">
								<br><br>
								<ul class="mt-2 text-start ms-5">
									<li>Joe Root(c)</li>
									<li>Ben Stokes</li>
									<li>Jofra Archer</li>
									
								</ul>
							</div>
						</div>
					<div class="alert alert-primary text-center mt-4 mb-0" role="alert">
						<h6>Tune in for desi commentary and experience cricket like never before</h6>
</div>
					</div>
					<div class="rankings box3">
						<div class="container">
							<h3 class="heading">
						Top Ranked Players
					</h3>
						<div class="row">
							<div class="col-sm-3 text-center"></div>
							<div class="col-sm-3 text-center"><h4>
								Tests
							</h4>
						</div>
							<div class="col-sm-3 text-center">
							<h4>
								ODIs
							</h4>
						</div><div class="col-sm-3 text-center">
							<h4>
								T20Is
							</h4>
						</div>
							</div>
						
						
					</div>
	
					<div class="row">
						<div class="col-sm-3 ps-5" style="margin-top:60px">
							<h5 >
								Batsmen:
							</h5>
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://www.nzc.nz/media/16988/kane-williamson.jpg" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://resources.pulse.icc-cricket.com/players/champions-trophy-2017/210/164.png" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://resources.ecb.co.uk/player-photos/t20i/480x480/3318.png" style="height:150px">
						</div>
						<br>
						<div class="col-sm-3 ps-5" style="margin-top:60px">
							<h5>
								Bowlers:
							</h5>
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://www.cricket.com.au/-/media/Players/Men/International/Australia/Test%202020%2021/Pat-Cummins-Test2021.ashx" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://www.cricket.com.au/-/media/Players/Men/International/New%20Zealand/T20/Trent-Boult-T2018.ashx" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://storage.googleapis.com/cricketimages/Players/CE.png" style="height:150px">
						</div>
						<br>
						<div class="col-sm-3 ps-3" style="margin-top:60px">
							<h5>
								All-Rounders:
							</h5>
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://freepikpsd.com/wp-content/uploads/2019/10/ben-stokes-png-9-Images-PNG-Transparent.png" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="http://thedailynewnation.com/library/1546183566_2.png" style="height:150px">
						</div>
						<div class="col-sm-3 card">
							<img class="players" src="https://www.cricket.com.au/-/media/Players/Men/International/Afghanistan/Mohammad-Nabi-CWC19.ashx" style="height:150px">
						</div>
						
							</div>
						
						
					</div>
				</div>
				<div class ="col-sm-3">
					<div class="container box1">
						
					<h3 class="heading">
						Trending on Socials!
					</h3>
					
					<div class="slideshow-container">              
					  <!-- Full-width images with number and caption text -->
					  <div class="mySlides fade">
						<img class= "im" src="/logo.jpg" style="width:100%" class="me-20%">
					  </div>

					  <div class="mySlides fade">
						<img class ="im" src="/1.png" style="width:100%" class="me-20%">
					  </div>

					  <div class="mySlides fade">
						<img class= "im" src="/logo.jpg" style="width:100%" class="me-20%">
					  </div>

					  <!-- Next and previous buttons -->
					  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					  <a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
					<br>

					<!-- The dots/circles -->
					<div style="text-align:center">
					  <span class="dot" onclick="currentSlide(1)"></span>
					  <span class="dot" onclick="currentSlide(2)"></span>
					  <span class="dot" onclick="currentSlide(3)"></span>
					</div>
					</div>
					<div class="container box2">
						
					<h3 class="heading">
						Videos
					</h3>
						<iframe style="width:100%" class="me-20%" 
						src="https://www.youtube.com/embed/tgbNymZ7vqY">
						</iframe>	
					
					</div>
				</div>
			</div>
		</div>
				
	<%- include("footer.ejs")%>	    
		
		