<%- include("header.ejs")%>	

<div class="container">
	  
  <div class="row">
	  <div class="col-3">
		  
	  
		<h2 class="heading text-start" style="padding-top:5px"> Memes<img src="https://tse3.mm.bing.net/th?id=OIP.-_E9PoKBOA3dh3u91jtwbQHaEc&pid=Api&P=0&w=276&h=166" style="height:50px;width:80px;"></h2>
	  </div>
	</div>
	<hr>
    <div class="container">
		<div class=row>
			
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;margin-left:7px;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.PE_4ykQxbxbDxmOKBOsy6wHaE6&pid=Api&P=0&w=237&h=158" alt="Card image cap" style="height:100%;">
			</div>
			<div class="card col-4" style="width:30%; margin-right:3%;margin-bottom:3%;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.SxC2E_UfSRskCXqeZoc9JgHaFj&pid=Api&P=0&w=203&h=153" alt="Card image cap" style="height:100%">
			</div>
			
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;" >
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.kxr5Ny2TTZn54ZcR66bTDgHaF5&pid=Api&P=0&w=194&h=155" alt="Card image cap" style="height:100%">
			</div>
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;margin-left:7px;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.PE_4ykQxbxbDxmOKBOsy6wHaE6&pid=Api&P=0&w=237&h=158" alt="Card image cap" style="height:100%">
			</div>
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.SxC2E_UfSRskCXqeZoc9JgHaFj&pid=Api&P=0&w=203&h=153" alt="Card image cap" style="height:100%">
			</div>
			
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.kxr5Ny2TTZn54ZcR66bTDgHaF5&pid=Api&P=0&w=194&h=155" alt="Card image cap" style="height:100%">
			</div>
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;margin-left:7px;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.PE_4ykQxbxbDxmOKBOsy6wHaE6&pid=Api&P=0&w=237&h=158" alt="Card image cap" style="height:100%">
			</div>
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.SxC2E_UfSRskCXqeZoc9JgHaFj&pid=Api&P=0&w=203&h=153" alt="Card image cap" style="height:100%">
			</div>
			
			<div class="card col-4" style="width:30%;margin-right:3%;margin-bottom:3%;">
			  <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.kxr5Ny2TTZn54ZcR66bTDgHaF5&pid=Api&P=0&w=194&h=155" alt="Card image cap" style="height:100%">
			</div>
		</div>
    </div>

<%- include("footer.ejs")%>	