<%- include("header.ejs")%>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  
  <style>
	  
	  .cal {
		  color:#274;
		  
	  }
	  .news{
		  margin-left:0px;
		  margin-right:65px;
	  }
	  b:hover{
		  color: rgba(0,0,255,0.7);
	  }
	  .row{
		  margin-top:50px;
	  }
	  /* span .heading{
		  font-size: 50px;
	  } */
	  input
	  {
		  border-radius:10px;
		  border-color:white;
		  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
	  }
	  
	  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
  </style>
  
  <div class="container">
	  
  <div class="row">
	  <div class="col-6">
		<h2 class="heading text-start">
			Editorials
	    </h2>
	  </div>
	  <div class="col-3">
		        <form>
		            <div class="form-group">
		                <div class='input-group date' id='datepicker'>
		                    <input type='text' placeholder="From" class="form-control" />
							<i class='fas fa-calendar-alt' style='font-size:36px;padding-left: 0.2em;'></i>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
		  </form>
	  </div>
	  <div class="col-3">
		  <form>
					<div class="form-group">
		                <div class='input-group date' id='datepicker1'>
		                    <input type='text' placeholder="To" class="form-control" />
							<i class='fas fa-calendar-alt' style='font-size:36px;padding-left: 0.2em;'></i>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
		        </form>
	  </div>
 </div>
    <hr>
	 

   <div class="news container" >
	   <div class ="row" >
		   <div class="col-3 mb-2" >
			   <img src ="/logo.jpg" style ="height:85%; width:85%; border-radius:20px; box-shadow: 10px 10px 5px #888888;">
			   
		   </div>
		   <div class ="col-9 mb-2" >
			   <b>
				   Pujara most important in tests, says coach Ravi Shastri sahsjakhfugsagfdggs jsdgfg hgagsdkf guagfukdsgf ghufgs fui uigsufgiadsg ifguigd figiuf ggdsugf 
			   </b>
			   <p>
				   Cheteshwar Pjara dksnkfvfldndsc dcsdjffvmsc ssbkkbsdkcnasnAKxbas sdfbvdfmnbdfkbfksdfb askgfasg fgasuuf gasugfuiads gfua suifgasuigfuigadsui fgiuadsgfi jksababfhsabs fbajbsf jkasbfsia bfisabuy fsbua bu auibfuiasfuiads asuidas uifads bfuas bfuisabduifbsdf uiufghf asbhjfasjhfdgas hfsh hfhadsihf hsggf hf uiisdjk fgsui fhashdfyhajheasr fa efgsdg fygwew hefg f
			   </p>
		   </div>
		   <hr>
		   <div class="col-3 mb-2">
			   <img src ="/logo.jpg" style ="height:85%; width:85%; border-radius:20px; box-shadow: 10px 10px 5px #888888;">
			   
		   </div>
		   <div class ="col-9 mb-2 news-detail" >
			   <b>
				   Pujara most important in tests, says coach Ravi Shastri
			   </b>
			   <p>
				   Cheteshwar Pjara dksnkfvfldndsc dcsdjffvmsc ssbkkbsdkcnasnAKxbas sdfbvdfmnbdfkbfksdfb
			   </p>
		   </div>
		   <hr>
		   <div class="col-3 mb-2">
			   <img src ="/logo.jpg" style ="height:85%; width:85%; border-radius:20px; box-shadow: 10px 10px 5px #888888;">
			   
		   </div>
		   <div class ="col-9 mb-2" >
			   <b>
				   Pujara most important in tests, says coach Ravi Shastri bjkds dkjs cubsdjb sdhusdbsd hh fhuesfjshdh fvhdsnfjsh hfasjd fuhdsjj bfsdbhfjkbadsj fkadsbf asafjkbas fbjdsb fadsb ufs
			   </b>
			   <p>
				   Cheteshwar Pjara dksnkfvfldndsc dcsdjffvmsc ssbkkbsdkcnasnAKxbas sdfbvdfmnbdfkbfksdfb
			   </p>
		   </div>
		   <hr>
		   <div class="col-3 mb-2">
			   <img src ="/logo.jpg" style ="height:85%; width:85%; border-radius:20px; box-shadow: 10px 10px 5px #888888;">
			   
		   </div>
		   <div class ="col-9 mb-2" >
			   <b>
				   Pujara most important in tests, says coach Ravi Shastri
			   </b>
			   <p>
				   Cheteshwar Pjara dksnkfvfldndsc dcsdjffvmsc ssbkkbsdkcnasnAKxbas sdfbvdfmnbdfkbfksdfb
			   </p>
		   </div>
	   </div>
	    
					 
   </div>
	  
	  
	<script >
	    $(function () {
	        $('#datepicker,#datepicker1').datepicker({
	            format: "dd/mm/yyyy",
	            autoclose: true,
	            todayHighlight: true,
		        showOtherMonths: true,
		        selectOtherMonths: true,
		        autoclose: true,
		        changeMonth: true,
		        changeYear: true,
		        orientation: "button"
	        });
	    });
		
		
$(".fa-calendar-alt").on("click", function(){
        $(this).siblings("input").datepicker("show");    
    });
	</script>


 
 <%- include("footer.ejs")%>