<div class="col-1 py-3 d-flex justify-content-center align-items-center">
			<span class="over">19.2</span>
		</div>
		<div class="col-1 my-4 mx-2 d-flex justify-content-center align-items-center wicket"   >
			<span class="runs">W</span>
		</div>
		<div class="col py-3">
			<span class="result text-muted">Bhuvi to Butler, OUT</span>
			<div>
				<span class="description">dcfgbahioslhyvyukiljosahkvghdijouilykcfykvudiblojlhigkgvuh</span>
			</div>
		</div>
		<hr class="m-0" style="color:#bfbfbf;">
		<div class="col-1 py-3 d-flex justify-content-center align-items-center">
			<span class="over">19.1</span>
		</div>
		<div class="col-1 my-4 mx-2 d-flex justify-content-center align-items-center run" >
			<span class="runs">1</span>
		</div>
		<div class="col py-3">
			<span class="result text-muted">Bhuvi to Malan, 1 run</span>
			<div>
				<span class="description">dcfgbahioslhyvyukiljosahkvghdijouilykcfykvudiblojlhigkgvuh</span>
			</div>
		</div>
		<hr class="m-0" style="color:#bfbfbf;">
		<div class="col-1 py-2" style="background:#0033cc;color:white;">
			<span></span>
		</div>
		<div class="col py-2" style="background:#0033cc;color:white;font-size:1.2rem;">
			<span class="lastover">Last Over: 15 runs</span>
		</div>
		<div class="col py-2"  style="background:#0033cc;color:white;font-size:1.2rem;" >
			<span class="present">ENG - 132/1(12.0)</span>
		</div>
		<hr class="m-0" style="color:#bfbfbf;">
		<div class="col-1 py-3 d-flex justify-content-center align-items-center">
			<span class="over">18.6</span>
		</div>
		<div class="col-1 my-4 mx-2 d-flex justify-content-center align-items-center six" >
			<span>6</span>
		</div>
		<div class="col py-3">
			<span class="result text-muted">Natrajan to Butler, 6 run</span>
			<div>
				<span class="description">dcfgbahioslhyvyukiljosahkvghdijouilykcfykvudiblojlhigkgvuh</span>
			</div>
		</div>
		<hr class="m-0" style="color:#bfbfbf;">
		<div class="col-1 py-3 d-flex justify-content-center align-items-center">
			<span class="over">18.5</span>
		</div>
		<div class="col-1 my-4 mx-2 d-flex justify-content-center align-items-center"  style="background:#e0e0d1;border-radius:20px;" >
			<span class="runs"><i class="fas fa-circle" style="font-size:0.4rem;"></i></span>
		</div>
		<div class="col py-3">
			<span class="result text-muted">Natrajan to Butler, 0 run</span>
			<div>
				<span class="description">dcfgbahioslhyvyukiljosahkvghdijouilykcfykvudiblojlhigkgvuh</span>
			</div>
		</div>
		<hr class="m-0" style="color:#bfbfbf;">
		<div class="col-1 py-3 d-flex justify-content-center align-items-center">
			<span class="over">18.4</span>
		</div>
		<div class="col-1 my-4 mx-2 d-flex justify-content-center align-items-center four" >
			<span class="runs">4</span>
		</div>
		<div class="col py-3">
			<span class="result text-muted">Natrajan to Butler, 4 run</span>
			<div>
				<span class="description">dcfgbahioslhyvyukiljosahkvghdijouilykcfykvudiblojlhigkgvuh</span>
			</div>
		</div>